<div class="card mt-3">
    <div class="card-header d-flex justify-content-between align-items-center mt-2">
        <h5>Home Page</h5>
        <div>
            <a routerLink="/">{{'home'|translate}}</a>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <h1>{{'categories'|translate}}</h1>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input [(ngModel)]="searchCategory" type="search" class="form-control"
                        placeholder="{{'search'|translate}}">
                </div>
                <ul class="categories">
                    <li class="category" (click)="changeCategory(null)"
                        [ngClass]="request.categoryId===null ? 'active': ''">
                        {{'allCategories'|translate}}</li>
                    <li class="category" (click)="changeCategory(c.id)"
                        [ngClass]="request.categoryId===c.id ? 'active': ''"
                        *ngFor="let c of categories |category:searchCategory">{{c.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-12 ">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input [(ngModel)]="request.search" (keydown.enter)="getAll()" (search)="getAll()" type="search"
                class="form-control" placeholder="{{'search'|translate}}">
        </div>
        <div class="row ">
            <div class="col-xl-4 col-md-6 col-12 mt-2" *ngFor="let b of books">
                <div class="card text-center  ">
                    <div class="card-body">
                        <img [src]="b.coverImageUrl" class="card-img-top mt-2">
                    </div>
                    <div class="card-header">
                        <h5 class="card-title">{{b.title}}</h5>
                        <p>{{b.author}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{b.summary}}</p>
                        <button
                            class="btn btn-outline-secondary d-flex justify-content-between w-100 align-items-center">
                            <span>{{b.price.value|currency:'':'':'1.2-2'}} {{b.price.currency}}</span>
                            <i class="fa-solid fa-cart-shopping fa-bounce"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="feedData()">
    </div>

</div>