<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">{{'home'|translate}}</a>
                </li>
            </ul>
            <select style="width: 15%" (change)="changeLanguage($event)" class="form-control me-2">
                <option value="tr">Türkçe</option>
                <option value="en">English</option>

            </select>
            <button class="btn btn-outline-light position-relative">
                <i class="fa-solid fa-cart-shopping" [ngClass]=" count > 0 ?'fa-bounce':''"></i>
                <span *ngIf="count>0" class="position-absolute translate-middle badge rounded-pill bg-danger"
                    style="top: 40px; right: -27px;">
                    {{count}}
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>
        </div>
    </div>
</nav>